<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" type="text/css" href="../public/map.css">
    <title>chum</title>
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
</head>

<body>
    <div id="map">
        <div id="container"></div>
        <div id="menu">
            <div id='roomAdd'>
                <form action="/roomAdd" name="roomAddForm" onsubmit="return roomSubmit()">
                    经度：<input type="text" id="x" name="x" style="width:120px" />
                    纬度：<input type="text" id="y" name="y" style="width:120px" />
                    拥有者：<input type="text" id="owner" name="owner" style="width:120px" />
                    描述：<input type="text" id="des" name="des" style="width:120px" />
                    价格：<input type="text" id="price" name="price" style="width:120px" />
                    <input type="submit" onclick="roomAdd()" value="提交">
                </form>
                <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
            </div>
        </div>
    </div>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.10&key=56549ab555a6feb52b4232895b257e3f"></script>
    <script type="text/javascript">
        const rooms = JSON.parse('<%- JSON.stringify(rooms) %>');
        const map = new AMap.Map('container', {
            resizeEnable: true,
            center: [116.397428, 39.90923],
            zoom: 13
        });
        rooms.forEach(async (item) => {
            const position = [item.x, item.y];
            const marker = new AMap.Marker({
                position: position,
                icon: '//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png',
                offset: new AMap.Pixel(-13, -30)
            });

            marker.setMap(map);

            // 设置鼠标划过点标记显示的文字提示
            marker.setTitle(item.price);
            // 设置label标签
            // label默认蓝框白底左上角显示，样式className为：amap-marker-label
            const content = `拥有者：${item.owner},
                价格${item.price},
                描述：${item.des}`;
            marker.setLabel({
                //修改label相对于maker的位置
                offset: new AMap.Pixel(20, 20),
                content: "<div class='info'>" + content + "</div>"
            });
        });
        var clickHandler = function (e) {
            alert('您在[ ' + e.lnglat.getLng() + ',' + e.lnglat.getLat() + ' ]的位置点击了地图！');
        };

        // 绑定事件
        map.on('click', clickHandler);

        // $(function () {
        //     $(":submit").click(function () {
        //         var options = {
        //             url: "/roomTest",
        //             success: function () {
        //                 alert("ajax请求成功");
        //             }
        //         };
        //         $("#form1").ajaxForm(options);
        //     })
        // })
        function roomAdd() {
            const x = document.getElementById("x").value;
            const y = document.getElementById("y").value;
            const owner = document.getElementById("owner").value;
            const price = document.getElementById("price").value;
            const des = document.getElementById("des").value;
            if ((x && y && price && owner && des) ? true : false) {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "/roomAdd",
                    data: {x,y,owner,price,des},
                    success: function (result) {
                        if (result.resultCode == 200) {
                            alert("SUCCESS");
                            location.reload(true);
                        }
                        ;
                    },
                    error: function () {
                        alert("异常！");
                    }
                });
            } else {
                alert("!!");
            }
        }
        function roomSubmit() {

        }
    </script>
</body>

</html>