<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" type="text/css" href="../public/map.css">
    <title>chum</title>
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div id="map">
        <div id="container"></div>
        <div id="menu">
            <div id='roomAdd'>
                <form name="roomAddForm">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">经度：</span>
                            <input type="text" id="x" name="x" style="width:120px" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">纬度：</span>
                            <input type="text" id="y" name="y" style="width:120px" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">拥有者：</span>
                            <input type="text" id="owner" name="owner" style="width:110px" class="form-control"
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">描述：</span>
                            <input type="text" id="des" name="des" style="width:120px" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">价格：</span>
                            <input type="text" id="price" name="price" style="width:120px" class="form-control"
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <button type="submit" onclick="roomAdd()" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.10&key=56549ab555a6feb52b4232895b257e3f"></script>
    <script type="text/javascript">
        const rooms = JSON.parse('<%- JSON.stringify(rooms) %>');
        const map = new AMap.Map('container', {
            resizeEnable: true,
            center: [116.397428, 39.90923],
            zoom: 13
        });
        var infoWindow = new AMap.InfoWindow({ offset: new AMap.Pixel(0, -30) });
        var contextMenu = new AMap.ContextMenu();
        var targetId;
        rooms.forEach(async (item) => {
            const position = [item.x, item.y];
            const marker = new AMap.Marker({
                position: position,
                icon: '//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png',
                offset: new AMap.Pixel(-13, -30)
            });

            marker.setMap(map);

            // 设置鼠标划过点标记显示的文字提示
            marker.setTitle(item.price);
            // 设置label标签
            // label默认蓝框白底左上角显示，样式className为：amap-marker-label
            const content = `<div style="\"padding:0px" 0px="" 4px;\"=""><p>拥有者：${item.owner}</p>
                <div style="\"padding:0px" 0px="" 4px;\"=""><p>价格：${item.price}</p>
                <div style="\"padding:0px" 0px="" 4px;\"=""><p>描述：${item.des}</p>`;

            //绑定点标记点击事件
            marker.content = content;
            marker.on('click', markerClick);

            //绑定鼠标右击事件——弹出右键菜单
            marker.on('rightclick', function () {
                contextMenu.open(map, position);
                targetId = item._id;
            });
            //contextMenu.open(map, position);


        });
        //创建右键菜单
        contextMenu.addItem("删除", function () {
            alert("目前仅提给供管理员删除功能");
            // roomDel(targetId);
        }, 0);
        contextMenu.addItem("新增", function () {
            alert("后续新增集成进右键");
            // roomDel(targetId);
        }, 1);

        //点标记信息窗体
        function markerClick(e) {
            infoWindow.setContent(e.target.content);
            infoWindow.open(map, e.target.getPosition());
        }
        map.setFitView();

        //点击事件
        var clickHandler = function (e) {
            if (document.tmpRoom) {
                document.tmpRoom.setMap(null);
            }
            addMarker(e);
            document.getElementById("x").value = e.lnglat.getLng();
            document.getElementById("y").value = e.lnglat.getLat();
        };
        //添加点标记
        function addMarker(e) {
            marker = new AMap.Marker({
                icon: "//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png",
                position: [e.lnglat.getLng(), e.lnglat.getLat()],
                offset: new AMap.Pixel(-13, -30),
                exData: 'tmp'
            });
            document.tmpRoom = marker;
            marker.setMap(map);
        }
        // 绑定事件
        map.on('click', clickHandler);


        function roomAdd() {
            const x = document.getElementById("x").value;
            const y = document.getElementById("y").value;
            const owner = document.getElementById("owner").value;
            const price = parseInt(document.getElementById("price").value);
            const des = document.getElementById("des").value;
            if ((x && y && price && owner && des) ? true : false) {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "/roomAdd",
                    data: { x, y, owner, price, des },
                    success: function (result) {
                        if (result.resultCode == 200) {
                            alert("SUCCESS");
                            location.reload(true);
                        };
                    }, error: function () {
                        alert("异常！");
                    }
                });
            } else {
                alert("请您输入所有的值");
                location.reload(false);
            }
        }

        function roomDel(id) {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/roomDel",
                data: { id },
                success: function (result) {
                    if (result.resultCode == 200) {
                        alert("SUCCESS");
                        location.reload(true);
                    };
                }, error: function () {
                    alert("异常！");
                }
            });
        }
    </script>
</body>

</html>